.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx

#########################
# openFrameworks
#########################

*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
xcuserdata

.svn/
obj/
bin/
build/
!data/

[Bb]uild/
[Oo]bj/
*.o
[Dd]ebug*/
[Rr]elease*/
*.mode*
*.app/
*.pyc
.svn/
*.log
*.cpp.eep
*.cpp.elf
*.cpp.hex